#background {
    height: 725px;
}
body {
    background-color: #f5f3f0; 
    max-width: 1600px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align:center
}
header {
    background-color:rgba(20,30,13, .7);
}
footer {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
    background-color: black;
    color: #f5f3f0;
}  
img {
    display:inline;
    margin: 0 auto;
    max-width: 625px;
} 
.icon {
    width: 50px;
} 
.img{
    width: 700px;
}
.logo{
    width: 100px;
}
nav a {
    text-align: center;
    color: #f5f3f0;
    text-decoration: none;
} 
