#background {
	    height: 725px;
	}
	body {
	    background-color: rgb(255, 242, 228); 
	    max-width: 1600px;
	    margin: 0 auto;
	    padding: 4em;
	    font-size: 18px;
	    text-align:center
	}
	header {
	    background-color:rgba(26, 37, 18, 0.7);
	    text-align:left
	}
	footer {
	    background-color:rgba(20,30,13, .7);
	    text-align:left;
	    color: antiquewhite;
	}
	nav a:hover {
	    background-color: rgb(238, 228, 228);
	    color: #e4dcd1;
	}  
	img {
	    display:inline;
	    margin: 0 auto;
	    max-width: 955px;
	} 
	.icon {
	    width: 80px;
	} 
	.img{
	    width:fit-content;
	    margin:initial
	}
	.logo{
	    width: 80px;
	    text-align:right
	}
	nav a {
	    text-align: center;
	    color: #ffffff;
	    text-decoration: none;
	} 
	#content {
	    max-width: 1600px;
	    margin:0 auto;
	    background-color:rgb(255, 242, 228)
	  }
	main {
	    background-color: rgb(255, 242, 228);
	}  
	#button {
	    background-color: rgb(20, 30, 13, .7);
	    text-align:left;
	    color: #ffffff;
	}
	#text {
	    background-color: rgb(20, 30, 13, .7);
	    text-align:left;
	    color:#ffffff
	}
	

	.home-title {
	    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
	    font-size: 2em
	}
	

	.msg {
	    background-color: #6f7364;
	    line-height: 1.5em;
	  }
	

	  body {
	    background-color: #fcfbfb;
	    font-family: Raleway, Arial, sans-serif;
	    font-size: 22px;
	    margin: 0;
	    padding: 0;
	}
	h2 {
	    margin: 0;
	}  
	

	nav a {
	    text-decoration: none;
	    color: #fcfbfb;
	    text-align: center;
	    padding: 35px;
	}
	

	.book, .join {
	    background-color: #d9c2a3;
	    color: black;
	    text-decoration: none;
	    font-size: 18px;
	    padding: 15px 30px;
	    margin-top: 50px;
	}
	

	.card-img {
	    border: 10px solid #d9c2a3;
	}
	main section img {
	    box-sizing: border-box;
	}
	

	#hero-img {
	    border: 1px solid #d9c2a3;
	}

